html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,

    /* Eric Meyer's Reset Stylesheet: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
    min-width: 992px;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    line-height:33px;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
thead tr th {
  background: url("../img/bg_header.jpg") no-repeat scroll 0 0 #CAE8EA !important;
  border-bottom: 1px solid #C1DAD7 !important;;
  border-right: 1px solid #C1DAD7 !important;;
  border-top: 1px solid #C1DAD7 !important;;
  color: #4F6B72 !important;;
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif !important;;
  padding: 3px 3px 3px 6px !important;;
  text-align: center !important;;
  text-transform: uppercase !important;;
}

.el-table th{
  text-align: center;
  height: 30px!important;
}
.el-table td{
  height: 30px;
  text-align: center;
}
thead tr th div {
  background-color: transparent!important;
 /*border: 1px solid black;*/
}

.el-table__footer-wrapper thead div, .el-table__header-wrapper th{
  background-color: #ffffff;
}

.el-table .cell, .el-table th>div{
  padding: 0;
}

.el-table .caret-wrapper{
  display: none;
}

.el-table .cell{
  line-height: 20px;
}
.tab-content
{
    margin-top:5px;
}
tbody tr td {
  border-bottom: 1px solid #C1DAD7 !important;
  border-right: 1px solid #C1DAD7 !important;
  color: #4F6B72 !important;
  line-height: 21px !important;
  padding: 3px 3px 3px 3px !important;
  text-align: center !important;
  font-size: 80% !important;
}
